name: Git
on: 
  workflow_dispatch:
    inputs:
      params:
        required: false
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: use git
        run: git ${{ github.event.inputs.params }}	
